body{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #e5e5e5;
    padding: 10px 0;
}

header h1{
    position: relative;
    margin: 0 auto;
    width: auto;
}

main{
    background: #e5e5e5;
    position: relative;
    width: auto;
    height: 1024px;
}

.areaAgregarTexto{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 240px;
    top: 168px;
}

.areaAgregarTexto input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    background: #e5e5e5;
    border: none;
}

.areabotones{
    position: relative;
    margin: 0 auto;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px
}

.Advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 229px;
    height: 18px;
}

.boxBotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    top: 50px;
}

.Botones:first-child{
    background: #0A3871;
    border: none;
    border-radius: 24px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Botones:last-child{
    background: #D8DFE8;
    border-color: #0A3871;
    border-radius: 24px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.areaMostrarTexto{
    position: absolute;
    width: 500px;
    height: 944px;
    left: 1150px;
    top: 40px;

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

footer{
    background: #e5e5e5;
    width: auto;
}