body{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #f3f5fc;
    padding: 10px 0;
}

header h1{
    position: relative;
    margin: 0 auto;
    width: auto;
}

header img{
    margin: 20px 0 auto;
}

main{
    background: #f3f5fc;
    position: relative;
    width: auto;
    height: 1024px;
}

.areaAgregarTexto{
    position: absolute;
    left: 200px;
    top: 100px;
}

.areaAgregarTexto textarea{
    border: none;
    outline: none;

    resize: none;
    overflow: auto;
    width: 800px;
    height: 600px;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    background: #f3f5fc;
    border: none;
}

.areaAgregarTexto textarea::placeholder{
 color: #0A3871;
}

.areabotones{
    position: relative;
    margin: 0 auto;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 750px
}

.Advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 229px;
    height: 18px;
}

.boxBotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    top: 50px;
}

.Botones:first-child{
    background: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    border-radius: 24px;

    display: inline;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    
    flex: none;
    order: 0;
    flex-grow: 0;

    /* texto del botón */

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    transition: 150ms;
}

.Botones:first-child:hover{
    background: #246ec9;
    border-color: #246ec9;
    box-shadow: 10px 24px 32px -8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.Botones:nth-child(2){
    background: #D8DFE8;
    border-color: #0A3871;
    border-style: solid;
    border-radius: 24px;

    display: inline;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    
    flex: none;
    order: 0;
    flex-grow: 0;

    /* texto del botón */

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

    transition: 150ms;
}

.Botones:nth-child(2):hover{
    background: #b7c3d2;
    border-color: #246ec9;
    box-shadow: 10px 24px 32px -8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.areaMostrarTexto{
    position: absolute;
    width: 500px;
    height: 900px;
    left: 1150px;
    top: 10px;

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.Muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 82px;
    top: 250px;
}

.boxTextoMuñeco{
    position: absolute;
    width: 336px;
    height: 122px;
    left: 82px;
    top: 619px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;         
}

.boxTextoMuñeco h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    text-align: center;
    
    /* Gray/gray-500 */
    
    color: #343A40;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.boxTextoMuñeco p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    text-align: center;
    
    /* Gray/gray-400 */
    
    color: #495057;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0; 
}

.MostrarResultado{
    position: absolute;
    width: 336px;
    height: 681px;
    left: 82px;
    top: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */


    /* Gray/gray-400 */

    color: #495057;
}

.BotónCopiar{
    position: absolute;
    width: 328px;
    height: 67px;
    left: 82px;
    top: 790px;

    background: #ffffff;
    border-color: #0A3871;
    border-style: solid;
    border-radius: 24px;

    display: inline;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    flex: none;
    order: 0;
    flex-grow: 0;

    /* texto del botón */

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;

    transition: 150ms;
}

.BotónCopiar:hover{
    background: #dee5ef;
    border-color: #246ec9;
    box-shadow: 10px 24px 32px -8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


footer{
    background: #f3f5fc;
    width: auto;
}

.Contacto{
    padding: 15px 15px;
}

.botonesLinks{
    padding: 15px 15px;
    background: #f3f5fc;
    width: auto;

    border: none;
}

.botonesLinks img{
    width: 25px;
    height: 25px;
}

.copyright{
    padding: 15px 15px;
}